@import '../../resources/styles/_variables.scss';
@import '../../resources/styles/_mixins.scss';

.sidebar-item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: $small-spacing;
  border: 0;
  background-color: $white;
  transition: background-color 0.33s ease-in-out;
  outline: none;
  position: relative;

  &:hover{
    cursor: pointer;
    background-color: $dark-white;
  }

  &.big-icon{
    // justify-content: center;
    // .item-icon{ width: $closed-menu-icon-size; }
  }

  .item-icon{
    // width: 18px;
    position: absolute;
    margin: auto;

    svg{
      stroke: $grey;
      width: inherit;
      height: 100%;
    }
  }

  .item-title{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $grey;
    margin-left: 40px;
  }
}