@import '../../resources/styles/_variables.scss';
@import '../../resources/styles/_mixins.scss';

.title-section{
  text-align: left;
  // background-color: $orange;

  .title{
    display: inline-block;
    text-transform: lowercase;
    font-size: 40px;
    color: $white;
    text-align: left;
    padding: $small-spacing;
    margin: 0;
    position: relative;

    .primary{ font-weight: 300; }
    .seconary{ font-weight: 700; }
  }
}