@import "_variables";
@import "_mixins";

html, body{
  margin: 0;
  padding: 0;
  background-color: $white;
}

body {
  font-family: 'Lato';
  text-align: center;
}

#app-container{
  min-height: 100vh;

  .content-wrapper{
    display: flex;
    width: 100%;

    .page-container{
      flex: auto;
    }
  }
}

// PAGE TRANSITION
@mixin pageExit(){
  opacity: 0;
  transform: translate3d(0, 30px, 0);
}
@mixin pageEnter(){
  opacity: 1;
  transform: translate3d(0, 0px, 0);
}


// PAGE TRANSITIONS
.page{
  height: 100vh;
  background-color: #03a9f4;
  opacity: 1;

  &.page-transition-enter {
    opacity: 0.01;
  }
  
  &.page-transition-enter.page-transition-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  &.page-transition-exit {
    opacity: 1;
  }
  
  &.page-transition-exit.page-transition-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
}


// breakpoints template - order matters - ** use these in module specific scss files. **
// http://patorjk.com/software/taag/#p=display&f=Rectangles&t=400%20MAX%0A

//  ___   ___ ___ ___    _____ _____ __ __
// |_  | |  _|   |   |  |     |  _  |  |  |
//  _| |_| . | | | | |  | | | |     |-   -|
// |_____|___|___|___|  |_|_|_|__|__|__|__|
//
@include for-desktop-down {

}

//  ___   ___ ___ ___    _____ _____ __ __
// |_  | |_  |   |   |  |     |  _  |  |  |
//  _| |_|  _| | | | |  | | | |     |-   -|
// |_____|___|___|___|  |_|_|_|__|__|__|__|
//
@include for-tablet-landscape-down {

}

//  ___ ___ ___    _____ _____ __ __
// | . |   |   |  |     |  _  |  |  |
// |_  | | | | |  | | | |     |-   -|
// |___|___|___|  |_|_|_|__|__|__|__|
//
@include for-tablet-portrait-down {

}

//  ___ ___ ___    _____ _____ __ __
// |  _|   |   |  |     |  _  |  |  |
// | . | | | | |  | | | |     |-   -|
// |___|___|___|  |_|_|_|__|__|__|__|
//
@include for-phone-only {

}

//  ___ ___ ___    _____ _____ __ __
// | | |  _|   |  |     |  _  |  |  |
// |_  |_  | | |  | | | |     |-   -|
//   |_|___|___|  |_|_|_|__|__|__|__|
//
@include for-small-phone-only {

}
