// Colors
$white:           #ffffff;
$gray90:          #e5e5e5;
$gray80:          #cccccc;
$gray70:          #b2b2b2;
$gray60:          #999999;
$gray50:          #7f7f7f;
$gray40:          #666666;
$gray30:          #4c4c4c;
$gray20:          #333333;
$gray10:          #191919;
$black:           #000000;
$brand-primary:   #000000;
$brand-light:     lighten($brand-primary, 10%);
$brand-dark:      darken($brand-primary, 10%);

$white:           #F1F6F8;
$dark-white:      #D8E9F0;
$grey:            #7F8488;
$transparentGrey: rgba($grey, 0.3);
$dark-gray:       #2F313E;

// Layout
$grid-small-phone-only:          450px;
$grid-phone-only:                600px;
$grid-tablet-portrait-down:      900px;
$grid-tablet-landscape-down:    1200px;
$grid-desktop-down:             1600px;

// TRANSITIONS
$bezier: cubic-bezier(.55,.09,.45,.93);

// MEASUREMENTS
$small-spacing: 10px;
$medium-spacing: 20px;
$large-spacing: 40px;
$extra-large-spacing: 60px;
